body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('images/łąka.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 50px;
    background-position: center;
    text-align: center;
}

.p-footer {
    margin-left: 70px;
}

.footer-container {
    background-color: rgba(255, 255, 255, 0.45);
    align-items: end;
    padding-top: 10px;
    padding-bottom: 50px;
}

footer {
    background-image: url('images/łąka.jpg');
    padding-top: 0px;
    background-position: bottom;
    margin-top: 140px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.plant {
    margin: 60px 70px 60px 70px;
    padding: 15px
}

.image {
    width: 550px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-family: cursive;
    font-size: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 100px;
}

h2 {
    font-family: cursive;
    font-size: 60px;
    margin-bottom: 22px;
}

p {
    margin-left: 35px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: large;
}

@media screen and (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }

    h1 {
        font-size: 110px;
        padding-top: 30px;
        padding-bottom: 15px;
        padding-left: 62px;
        padding-right: 90px;
    }

    p {
        margin-left: 0px;
    }
}

@media screen and (max-width: 650px) {
    header {
        padding: 55px;
    }

    .footer-container {
        padding-top: 8px;
        padding-bottom: 40px;
    }

    .p-footer {
        margin-left: 50px;
    }

    .plant {
        margin: 50px;
        padding: 10px;
    }

    .image {
        width: 400px;
    }

    h1 {
        font-size: 85px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 70px;
    }

    h2 {
        font-size: 45px;
        margin-bottom: 17px;
    }

    footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 45px;
    }

    .footer-container {
        padding-top: 6px;
        padding-bottom: 35px;
    }

    .p-footer {
        margin-left: 45px;
    }

    .plant {
        margin: 45px;
        padding: 8px;
    }

    .image {
        width: 350px;
    }

    h1 {
        font-size: 70px;
        padding-top: 15px;
        padding-bottom: 4px;
        padding-left: 35px;
        padding-right: 50px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 12px;
    }

    footer {
        margin-top: 80px;
    }
}
